#pictures img{ 					/*styling for the images on the Tech/picturepage */
  max-width: 50%;
  max-height: 50%;
  width: inherit;
	height: inherit;
	background-color: #FFFFFF;
	border-radius: 100px;
}
#pictures{						/*Styling for the whole div, the table that contains the images is also styled with these proporties */
	width: inherit;
	height: inherit;
	margin-left: auto;
	margin-right: auto;
}

#socialnetworking img{			/* styling for the images on index.html */
	width: inherit;
	height: inherit;
	border-radius: 1em;
  border: solid, 2px;
  border-color: #800000;
}

table, td.center {  			/*styling for the table on the tech page */
	border: 2px #800000  solid;
	border-radius: 10px;
	margin-left: auto;
    margin-right: auto;
    font-family: helvetica;
	font-size: 16px;
}
th{
	font-size: 40px;
	font-family: helvetica;
	color:#800000;
}


body {
	padding-top: 100px;			/*The body of every page is styled here */
	margin-bottom: 2%;
	text-align: center;
	background-color: #FFFFFF;
}
#lists{
	height: 40%;				/*This is the styling of the lists on the about me page */
    width: 40%;
    margin-right: 3%;
    font-family: helvetica;
    font-size: 14px;
    border: 2px solid #800000;
    text-align: center;
    border-radius: 10px;
    float: right;
}
#lists img{						/*This is the styling of the image on the about me page */
	margin-top: 3%;
	margin-left: auto;
	margin-right: 3%;
	width: inherit;
	height: inherit;
	float: inherit;
	border-radius: 15px;
}
.infolists { 					/*This is the styling of the info within the lists */
	text-align: left;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.myinfo{
	text-align: left;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#socialnetworking{			/*Styling body, I've used this for all my pages*/
    width: 52%;
    margin-left: 3%;
    font-family: helvetica;
    font-size: 18px;
    border: 2px solid #800000;
    text-align: center;
    border-radius: 10px;
    float: left;
    padding-bottom: 4%;
}

#navmenu{					/*Styling menubar*/
	position:fixed;
	left: 0;
	top: 0;
	height: 30px;
	width: 100%;
	background-color: #800000;
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#navmenu ul{				/*This code styles the whole menubar*/
	list-style: none;
    background-color: #800000;
    text-align: center;
	width: inherit;
	margin-left: inherit;
	margin-right: auto;
	padding-left: 0;
}

#navmenu ul li{				/*This code styles the lists within the menubar, the spacing etc.*/
	font-family: Helvetica;
    font-size: 100%;
    line-height: 0px;
	float: left;
    width: 20%;
    margin-left: inherit;
    margin-right: inherit;
}

#navmenu a{					/*This is the styling for the links, because of this code the links are presented in blocks*/
	display: inline-block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	padding: 10px;
	padding-bottom: 14px;
	font-weight: bold;
	margin-top: auto;
	margin-bottom: 0;
	margin-left: inherit;
}

#navmenu li a{				/*This is the styling for the links*/
    font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}

#navmenu a:hover{			/*This code makes the menubar blocks active when hovering over them */
	color:#800000;
	font-size: 1.2em;
	background-color:#FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#navmenu a.active{			/*This code makes the menu blocks active when you're visiting a page*/
	color:#800000;
	font-size: 1.2em;
	background-color:#FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
							/*End styling menubar*/
#sitemap{					/*Styling of the sitemap page*/
	width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: helvetica;
    font-size: 18px;
    border: 2px solid #800000;
    text-align: center;
    border-radius: 10px;
}
#sitemap img{
	border-radius: 10px;
	width: inherit;
	height: inherit;
}
#links {  					/*Styling of the links on the sitemap page*/
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
}

#links a{
	text-decoration: none;
	text-align: left;
	font-family: helvetica;
	font-size: 16px;
	color: #800000;
}

#links a:hover{
	color: #F08080;
}
#games {  					 /*Styling of the games page*/
	width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: helvetica;
    font-size: 18px;
    border: 2px solid #800000;
    text-align: center;
    border-radius: 10px;
}
.results{   				 /*Styling of the results div at the bottom of the picture/techpage*/
	width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    font-family: helvetica;
    font-size: 18px;
    border: 2px solid #800000;
    text-align: center;
    border-radius: 10px;
}
.select{
	width: 100%;
}
.play{						 /* styling of the play button on the games page */
	padding: 1%;
	margin-top: 2%;
	background-color: #800000;
	color: #FFFFFF;
	width: 10%;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10px;
	border: solid;
}
h3{
	color: #800000;
	font-size: 24px;
	font-family: helvetica;
}
 h4{
 	color: #800000;
 	font-size: 16px;
 }

span.center{
	font-family: helvetica;
    font-size: 16px;
}

li{
	font-family: helvetica;
	font-size: 16px;
}
.foot{
	clear: both;
	font-family: helvetica;
	font-size: 12px;
	text-decoration: none;
}
